In [ ]:
list1 = [1, 2, 3, 4, 5]
list1

In [ ]:
from array import *
arr = array('i', [1, 2, 3, 4])
for x in arr:
	print(x)

In [ ]:
tuple2 = (1, 2, 3, 4, 'py') # Elements cannot be changed once defined
tuple2

In [ ]:
tuple1 = 1, 2, 'py' # tuple packing ()
print(tuple1)

In [ ]:
dictionary = {1: 'Hello', 'second': 2, 3:3, 'four': '4'}
dictionary

In [ ]:
dict_1 = dict([('first', 1), ('second', 2), ('third', 3)])
# dict1 = dict(first=1, second=2, third=3)
# dict_1

In [ ]:
rangeSample = range(1, 12, 4)
print(rangeSample)
for x in rangeSample:
    print(x)

## Sequence data operations: Indexing

Index() method finds the first occurrence of the value.

0-indexing

## String

In [1]:
stringSample = "mango"

In [2]:
stringSample.index("m")

0

In [3]:
stringSample.index('go')

3

In [4]:
stringSample[2]

'n'

In [5]:
stringSample[2:4]

'ng'

In [6]:
stringSample[-2]

'g'

## List

In [7]:
list1 = [1, 2, 1.02, "py"]

In [8]:
list1.index(1)

0

In [9]:
list1.index('py')

3

In [10]:
list1[1]

2

In [11]:
list1[-1]

'py'

## Array

In [12]:
from array import *
arr = array('i', [1, 2, 3, 4])
for x in arr:
    print(x)

1
2
3
4

In [13]:
arr[2]

3

## Tuple

In [14]:
tuple1 = (1, 2, 'py', 3.14)
tuple1.index(2)

1

In [15]:
tuple1[3]

3.14

## Set

In [ ]:
set1 = {'example', 2, 3, 5.02, 'py'}
# set1[2]
# Cannot access elements using index

## Dictionary

In [16]:
dict1 = {1: 'Hello', 'second': 2, 3:3, 'four': '4'}
dict1['second']

2

In [17]:
dict1[3]

3

## Range

In [ ]:
rangeSample = range(1, 12, 4)
for x in rangeSample:
    print(x)

In [ ]:
rangeSample[2]

In [ ]:
rangeSample.index(9)

## Sequence data operations: Slicing

Slice a given sequence. slice(stop)

slice(start, stop, step)

In [18]:
str1 = "learning"
str1[slice(1, 6, 2)]

'eri'

In [19]:
str1[:]
# Fetches all the elements

'learning'

In [20]:
list1 = [1, 2, 3, 4, 5]
list1[2:4]

[3, 4]

In [21]:
list1[2:]
# Fetches elements from index 2 to end

[3, 4, 5]

In [22]:
list1[:3]
# Fetches elements from start to index 3

[1, 2, 3]

In [23]:
list1[0:3:2]

[1, 3]

In [ ]:
dict1 = {1: 'Hello', 'second': 2, 3:3, 'four': '4'}
# dict1[1:'second']
# Cannot access elements using slice

In [ ]:
set1 = {'example', 2, 3, 5.02, 'py'}
# set1[1:2]
# Cannot access elements using slice

In [28]:
tuple1 = (1, 2, 'py', 3.14)
tuple1[0:2]

(1, 2)

In [24]:
from array import *
arr = array('i', [1, 2, 3, 4])
for x in arr:
    print(x)
arr[0:3]

1
2
3
4

array('i', [1, 2, 3])

In [25]:
arr[1:-1]

array('i', [2, 3])

In [26]:
rangeSample = range(1, 12, 4)
for x in rangeSample:
    print(x)
rangeSample[:-1]

1
5
9

range(1, 9, 4)

## Sequence data operations: Concatenation

syntax: ' , ' |  ' + ' |  ' += '

In [29]:
print(str1 + '', 'python')
newstr = str1 + ' ' + 'python'
print(newstr)

learning python
learning python

In [30]:
list1  = [1, 2, 3, 4, 5]
list1 + ['py']

[1, 2, 3, 4, 5, 'py']

In [31]:
arr = array('i', [1, 2, 3, 4])
# arr + [5, 6]
# Cannot concatenate array with list

In [32]:
arr += array('i', [5, 6])
print(arr)

array('i', [1, 2, 3, 4, 5, 6])

In [33]:
tuple1 = (1, 2, 3.14, 'py')
tuple1 += ('th', 'on', 12)
print(tuple1)

(1, 2, 3.14, 'py', 'th', 'on', 12)

In [34]:
set1 = {'example', 2, 3, 5.02, 'py'}
set1 = set1, 'thon' # Adds 'thon' as a single element, converts to tuple with comma separated elements of dict, set, range
print(set1)

({2, 3, 5.02, 'example', 'py'}, 'thon')

## Sequence data operations: Multiplication

object * integer

In [35]:
str1 = "learning"
str1*=3
print(str1)

learninglearninglearning

In [36]:
list1 = [1, 2, 3, 4, 5, 'python']
list1*=2
print(list1)

[1, 2, 3, 4, 5, 'python', 1, 2, 3, 4, 5, 'python']

In [37]:
list1[2]*=3
print(list1)

[1, 2, 9, 4, 5, 'python', 1, 2, 3, 4, 5, 'python']

In [38]:
list1[5]*=2
print(list1)

[1, 2, 9, 4, 5, 'pythonpython', 1, 2, 3, 4, 5, 'python']

In [39]:
newlist = [1, 2, 3, 4, 5, 'python']
newlist[0:4]*=2
print(newlist)
# slice + concatenation

[1, 2, 3, 4, 1, 2, 3, 4, 5, 'python']

In [44]:
t1 = (1, 2, 3.14, 'py')
print(t1*2)

(1, 2, 3.14, 'py', 1, 2, 3.14, 'py')

In [40]:
from array import *
arr = array('i', [1, 2, 3, 4, 5])
arr*=2
print(arr)
arr[0:2]*=2
print(arr)
arr[0]*=3
print(arr)

array('i', [1, 2, 3, 4, 5, 1, 2, 3, 4, 5])
array('i', [1, 2, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5])
array('i', [3, 2, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5])

In [ ]:
rangeSample = range(1, 12, 4)
# rangeSample*=2
# Cannot multiply range with integer

# General Sequence Data Methods

## String

In [46]:
str1 = "learning is fun"
print(str1)

learning is fun

In [48]:
print(str1.capitalize()) # Capitalizes the first letter of the string and converts the rest of the string to lowercase
print(str1.casefold()) # Converts the string to lowercase
print(str1.title()) # Converts the first letter of each word to uppercase
print(str1.swapcase()) # Swaps the case of each letter in the string
print(str1.find('is')) # Returns the index of the first occurrence of the substring
print(str1.count('n')) # Returns the number of occurrences of the substring
print(str1.replace('fun', 'boring')) # Replaces the first substring with the second substring
print(str1.isalnum()) # Returns True if all characters in the string are alphanumeric

Learning is fun
learning is fun
Learning Is Fun
LEARNING IS FUN
9
3
learning is boring
False

In [50]:
x1 = "asdf"
x2 = "yuer"
x3 = "iopl"

In [51]:
x = '{} {} . {}'.format(x1, x2, x3)
print(x)

asdf yuer . iopl

In [ ]:
print(dir(str1))

In [ ]:
print(help(str))

In [ ]:
print(help(str.find))

## Sequence data type object initialization

In [ ]:
str1 = "learning is fun"
list1 = [1, 2, 3, 4, 5]
from array import *
arr = array('i', [1, 2, 3, 4, 5])
tuple1 = (1, 2, 3.14, 'py')
dict1 = {1: 'Hello', 'second': 2, 3:3, 'four': '4'}
keys = (1, 'second', 3, 'four')
set1 = {'example', 2, 3, 5.02, 'py'}
rangeSample = range(1, 12, 4)

### len(object) returns number of elements in object

accepted: string, list, array, tuple, dictionary, set, range

In [52]:
print("no. of elements: ")
print("string = {}, list = {}, array = {}, tuple = {}, dictionary = {}, set = {}, range = {}".format(len(str1), len(list1), len(arr), len(tuple1), len(dict1), len(set1), len(rangeSample)))

no. of elements:
string = 15, list = 12, array = 12, tuple = 7, dictionary = 4, set = 2, range = 3

In [53]:
list1.reverse()
print(list1)

['python', 5, 4, 3, 2, 1, 'pythonpython', 5, 4, 9, 2, 1]

### clear() method removes all items

accepted: list, dictionary, set

In [55]:
list1.clear()
print(list1)
dict1.clear()
print(dict1)
set1.clear()
print(set1)

[]
{}

AttributeError: 'tuple' object has no attribute 'clear'

### append() adds an element at end

accepted: array, list, set

In [56]:
arr.append(6)
print(arr)
list1.append([5, 6, 7])
print(list1)
# set1.append(6)
set1.add(6)
print(set1)

array('i', [3, 2, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6])
[[5, 6, 7]]

AttributeError: 'tuple' object has no attribute 'add'

### update() adds elements from a set to a set
arg can be set, list, tuple, dictionary

In [ ]:
set1.update([7, 8, 9])
print(set1)

## Dictionary Methods

In [57]:
dict1["5"] = "five"
print(dict1)
dict1.update({6: "six", 7: "seven"})
print(dict1)

{'5': 'five'}
{'5': 'five', 6: 'six', 7: 'seven'}

In [58]:
list(dict1)

['5', 6, 7]

In [59]:
len(dict1)

3

In [60]:
dict1.get('5')

'five'

In [61]:
dict1.keys()

dict_keys(['5', 6, 7])

In [62]:
dict1.items()

dict_items([('5', 'five'), (6, 'six'), (7, 'seven')])

In [63]:
dict1.pop("5")

'five'

### insert() inserts at a specific index
Supported data types: array, list

In [ ]:
print(arr)

In [ ]:
arr.insert(5, 100) # Inserts 100 at index 5
print(arr)

In [ ]:
list1.insert(2, 100) # Inserts 100 at index 2
print(list1)

### pop() used to remove element at given index

default -1 form last item

accepted: list, array, set, dictionary

In [ ]:
arr.pop()

In [ ]:
# list1.pop(100)

In [ ]:
dict1.pop(6)
print(dict1)

### remove() removes the first occurrence of element with specified value
accepted: array, list, dictionary, set

In [ ]:
# arr.remove(0)

In [ ]:
arr.remove(2)

In [ ]:
list1.remove(100)
list1

In [ ]:
set1.remove(7)

In [ ]:
set1.discard(5852) # Does not raise an error if the element is not present in the set

### del() deletes entire object of any data type
del obj_name

In [ ]:
# del set1
# del list1
# del arr
# del dict1

### extend() adds specified elements to end of list

In [ ]:
arr.extend([1, 2, 3, 4, 5])

In [ ]:
arr.fromlist([6, 7, 8, 9])

In [ ]:
arr

In [ ]:
arr.tolist()

## Set Operations

no duplicates

In [ ]:
a = {1, 2, 3, 4, 5, 'asfdd', 'adsuresds'}
b = {4, 5, 6, 7, 8, 'asfdasfthnern', 'uiehr'}
print(a | b)

In [ ]:
a.union(b)

In [ ]:
print(a & b)

In [ ]:
a.intersection(b)